{
  "product": "{{ redhat_case_product }}",
  "version": "{{ redhat_case_product_version }}",
  "summary": "{{ redhat_case_summary }}",
  "description": "{{ redhat_case_description }}",
  "severity": "{{ redhat_case_severity }}",
  "openshiftClusterID": "{{ ocp_cluster_id }}",
  "openshiftClusterVersion": "{{ ocp_cluster_version }}"
}